In [5]:
from datetime import datetime
from pathlib import Path

import dateparser
import pandas as pd

In [6]:
__DEPOSITS_PATH__ = Path('..', 'data', 'deposits.xlsx')

In [7]:
def parse_currency(currency: str = 'RUB') -> pd.DataFrame:
    df = pd.read_excel(__DEPOSITS_PATH__, parse_dates=[0], date_parser=dateparser.parse, header=0, index_col=0, skiprows=4, skipfooter=1, sheet_name=currency)
    df = df.iloc[:, :11]
    columns = ['demand', 'lt_30d_with_demand', 'lt_30d_no_demand', '31d_to_90d', '91d_to_180d', '181d_to_1y', 'lt_1y_with_demand', 'lt_1y_no_demand', '1y_to_3y', 'gt_3y', 'gt_1y']

    header_mapping = dict(zip(df.columns.values, columns))
    renamed = df.rename(columns=header_mapping)
    renamed.index = renamed.index.map(lambda t: t.replace(day=1))
    renamed.to_pickle(str(Path('..', 'data', 'deposits', currency + '.pickle')))

    return renamed

In [8]:
parse_currency('RUB')

/Users/germanarutunov/Projects/ftiad/venv/lib/python3.9/site-packages/dateparser/date_parser.py:35: PytzUsageWarning: The localize method is no longer necessary, as this time zone supports the fold attribute (PEP 495). For more details on migrating to a PEP 495-compliant implementation, see https://pytz-deprecation-shim.readthedocs.io/en/latest/migration.html
  date_obj = stz.localize(date_obj)

,demand,lt_30d_with_demand,lt_30d_no_demand,31d_to_90d,91d_to_180d,181d_to_1y,lt_1y_with_demand,lt_1y_no_demand,1y_to_3y,gt_3y,gt_1y
2014-01-01,1.98,2.18,4.85,5.01,5.80,7.17,5.30,6.03,7.32,7.43,7.33
2014-02-01,1.77,2.30,4.85,4.98,5.75,7.04,5.09,5.94,7.30,7.28,7.30
2014-03-01,1.57,1.79,4.74,5.01,5.64,7.02,5.07,5.91,7.17,7.08,7.17
2014-04-01,1.28,1.84,4.54,5.07,5.68,7.20,5.18,6.04,7.61,6.97,7.56
2014-05-01,1.10,1.41,5.48,5.10,5.79,7.19,5.19,6.06,7.85,6.95,7.78
...,...,...,...,...,...,...,...,...,...,...,...
2021-10-01,4.29,3.99,3.53,3.51,3.82,4.67,4.33,4.34,6.06,6.15,6.07
2021-11-01,4.97,4.58,3.94,3.81,3.87,4.98,4.62,4.60,6.46,7.09,6.50
2021-12-01,5.94,6.31,6.87,4.43,4.73,5.05,5.12,5.05,7.43,7.68,7.44
2022-01-01,5.45,5.95,6.82,5.03,5.16,4.98,5.11,5.08,7.67,7.65,7.67
2022-02-01,5.47,6.08,6.76,7.05,6.27,6.20,6.31,6.37,8.12,8.35,8.13

In [9]:
parse_currency('USD')

/Users/germanarutunov/Projects/ftiad/venv/lib/python3.9/site-packages/dateparser/date_parser.py:35: PytzUsageWarning: The localize method is no longer necessary, as this time zone supports the fold attribute (PEP 495). For more details on migrating to a PEP 495-compliant implementation, see https://pytz-deprecation-shim.readthedocs.io/en/latest/migration.html
  date_obj = stz.localize(date_obj)

,demand,lt_30d_with_demand,lt_30d_no_demand,31d_to_90d,91d_to_180d,181d_to_1y,lt_1y_with_demand,lt_1y_no_demand,1y_to_3y,gt_3y,gt_1y
2014-01-01,0.58,0.60,0.94,1.13,1.66,2.92,2.01,2.26,2.75,2.78,2.75
2014-02-01,0.29,0.33,0.67,1.29,1.59,2.80,1.84,2.20,2.89,2.88,2.89
2014-03-01,0.33,0.37,1.12,0.85,1.87,2.54,1.66,2.01,2.59,2.24,2.55
2014-04-01,0.39,0.66,2.22,0.86,1.71,2.87,1.87,2.12,3.34,2.61,3.26
2014-05-01,0.30,0.41,1.49,1.00,1.71,2.74,1.78,1.99,2.94,2.76,2.91
...,...,...,...,...,...,...,...,...,...,...,...
2021-10-01,0.23,0.38,0.41,0.36,0.27,0.46,0.42,0.43,0.71,1.12,0.76
2021-11-01,0.18,0.33,0.40,0.28,0.26,0.39,0.36,0.38,0.69,1.21,0.85
2021-12-01,0.02,0.38,0.44,0.30,0.31,0.42,0.40,0.42,0.68,1.49,0.83
2022-01-01,0.05,0.43,0.46,0.36,0.30,0.38,0.39,0.40,0.76,1.31,0.83
2022-02-01,0.53,0.49,0.47,0.23,3.29,0.46,0.83,0.86,0.73,1.38,0.78

In [10]:
parse_currency('EUR')

/Users/germanarutunov/Projects/ftiad/venv/lib/python3.9/site-packages/dateparser/date_parser.py:35: PytzUsageWarning: The localize method is no longer necessary, as this time zone supports the fold attribute (PEP 495). For more details on migrating to a PEP 495-compliant implementation, see https://pytz-deprecation-shim.readthedocs.io/en/latest/migration.html
  date_obj = stz.localize(date_obj)

,demand,lt_30d_with_demand,lt_30d_no_demand,31d_to_90d,91d_to_180d,181d_to_1y,lt_1y_with_demand,lt_1y_no_demand,1y_to_3y,gt_3y,gt_1y
2014-01-01,0.38,0.42,1.08,0.80,1.32,2.37,1.59,1.80,2.77,1.91,2.70
2014-02-01,0.31,0.37,0.77,0.90,1.33,2.24,1.47,1.70,2.55,1.92,2.49
2014-03-01,0.52,0.54,1.18,0.71,1.26,2.13,1.35,1.58,2.26,1.69,2.18
2014-04-01,0.56,0.58,0.72,0.68,1.33,2.46,1.54,1.73,2.81,2.06,2.74
2014-05-01,0.49,0.54,1.18,0.86,1.38,2.29,1.47,1.64,2.81,1.89,2.72
...,...,...,...,...,...,...,...,...,...,...,...
2021-10-01,0.01,0.01,-,0.10,0.11,0.26,0.03,0.24,0.40,0.19,0.29
2021-11-01,0.01,0.01,-,0.10,0.12,0.34,0.02,0.31,0.39,0.18,0.37
2021-12-01,0.01,0.01,-,0.10,0.14,0.26,0.06,0.23,0.39,0.31,0.38
2022-01-01,0.01,0.01,-,0.10,0.12,0.20,0.05,0.20,0.37,0.53,0.41
2022-02-01,0.01,0.01,-,0.10,2.30,0.21,0.11,0.87,0.40,0.38,0.38

In [12]:
from parsing.deposits import get_deposit_rates

get_deposit_rates('EUR')

,demand,lt_30d_with_demand,lt_30d_no_demand,31d_to_90d,91d_to_180d,181d_to_1y,lt_1y_with_demand,lt_1y_no_demand,1y_to_3y,gt_3y,gt_1y
2014-01-01,0.38,0.42,1.08,0.80,1.32,2.37,1.59,1.80,2.77,1.91,2.70
2014-02-01,0.31,0.37,0.77,0.90,1.33,2.24,1.47,1.70,2.55,1.92,2.49
2014-03-01,0.52,0.54,1.18,0.71,1.26,2.13,1.35,1.58,2.26,1.69,2.18
2014-04-01,0.56,0.58,0.72,0.68,1.33,2.46,1.54,1.73,2.81,2.06,2.74
2014-05-01,0.49,0.54,1.18,0.86,1.38,2.29,1.47,1.64,2.81,1.89,2.72
...,...,...,...,...,...,...,...,...,...,...,...
2021-10-01,0.01,0.01,-,0.10,0.11,0.26,0.03,0.24,0.40,0.19,0.29
2021-11-01,0.01,0.01,-,0.10,0.12,0.34,0.02,0.31,0.39,0.18,0.37
2021-12-01,0.01,0.01,-,0.10,0.14,0.26,0.06,0.23,0.39,0.31,0.38
2022-01-01,0.01,0.01,-,0.10,0.12,0.20,0.05,0.20,0.37,0.53,0.41
2022-02-01,0.01,0.01,-,0.10,2.30,0.21,0.11,0.87,0.40,0.38,0.38